.about {
	overflow: hidden;
	letter-spacing: 0.25px;
	margin: 0 0 25px;
	
	@include breakpoint(medium){
		margin: 0 0 80px;
	}
	
	h2 {
		line-height: 1.138;
		margin: 0 0 25px;
		letter-spacing: -0.5px;
		
		@include breakpoint(medium){
			margin: 0 0 46px;
		}
	}
}