.breadcrumb{
  &__list{
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__item{
    display: flex;
    align-items: center;
    position: relative;
    &:not(:last-child){
      margin-right: 20px;
    }
    &.arrow{
      &:not(:last-child){
        &::after{
          content: '>';
          position: absolute;
          top: 7%;
          right: -15px;

        }
      }
    }
    &.line{
      &:not(:last-child){
        margin-right: 30px;
        &::after{
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          background: #d1d1d1;
          right: -10px;
        }
      }
    }
  }
  &__link{
    @include font(13px,19px);
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #000;
    mix-blend-mode: normal;
    opacity: 0.45;
    &.disable{
      &:hover{
        color: currentColor;
        cursor: default;
      }
    }
  }
  &__span{
    margin-right: 20px;
  }
  &__img{
    &:not(:last-child){
      margin-right: 10px;
    }
  }

}